body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1px;

    @media(max-width: 768px){
        font-size: 16px;
        line-height: 24px;
        max-width: 278px;
    }
}

h2{
    //font-size: 48px;
    font-size:calc(14px + 34 * (100vw - 320px) / 1600);
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 125% */
    letter-spacing: -1px;

    
}



.supertitle{
    display: inline-block;
    text-transform: uppercase;

    padding: 10px 18px;
    font-size: 11px;
    background-color: #F2F6FA;
    color: #2E363E;
    border-radius: 5px;

    @media(max-width: 768px){
        font-size: 8px;
    }
}

.header {
    background-image: url('../img/header_bg.png');
    background-color: lightgray;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 485px;
    color: white;
    position: relative;
    z-index: -2;

    @media(max-width:1024px){
        background-position: right;
        ::after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #0f12140f;
            z-index: -1;
        }
    }

    

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;

        @media (max-width:768px){
            flex-wrap: wrap;
            gap: 20px;
            
        }
    }

    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
        

    }

    &__location-group {
        display: flex;
        align-items: flex-start;
        gap: 12px;
    }

    &__location-text {
        max-width: 120px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

    }

    &__contacts {
        display: flex;
        align-items: flex-start;
        gap: 15px;

    }

    &__contacts-group {
        max-width: 180px;
        left: -18px;
    }

    &__contacts-number {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 152%;

    }

    &__contacts-text {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__content {
        max-width: 650px;
        //margin-top: 230px;
        margin-top: 18vh;
        @media(max-width: 1024px){
            //background-color: #0f1214c5;
            //padding: 50px 40px;
            border-radius: 5px;
        }
        
        @media(max-width: 768px) and (min-height: 560px){
            margin-top: calc(100vh - 575px);
            //background-color: #0f1214c5;
            //padding: 50px 40px;
        }
    }

    &__supertitle {
        display: inline-block;
        text-transform: uppercase;
        
        padding: 12px 18px;
        background-color: #F2F6FA;
        color: #2E363E;
        border-radius: 5px;

        @media(max-width: 768px){
            font-size: 8px;
        }
    }

    &__title {
        margin-top: 24px;
        max-width: 650px;
        @media(max-width: 768px){
            font-size: 16px;
            line-height: 24px;
            max-width: 278px;
        }
    }

    &__description {
        margin-top: 24px;
        max-width: 540px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%;
        @media(max-width: 768px){
            font-size: 12px;
            max-width: 140px;
        }

    }

    &__btn-group {
        display: flex;
        text-align: left;
        align-items: center;
        margin-top: 40px;
        justify-content: space-between;
        max-width: 500px;
        gap: 20px;

        @media(max-width: 768px){
            flex-wrap: wrap;
            margin-top: 20px;

        }
    }

    &__btn {
        padding: 30px 50px;
        text-wrap: nowrap;
        @media(max-width: 768px){
            font-size: 12px;
            padding: 15px 25px;
        }
    }

    &__btn-description {
        max-width: 180px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
}

.main {
}

.catalog {
    text-align: center;
    color: #2E363E;

		&__title {
            
        
		}

		&__group {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
		}

		&__group-item {
            max-width: 380px;
		}

		&__item-img {
            //max-width: 380px;
            max-width: 100%;
            max-height: 245px;
            border-radius: 10px 10px 0px 0px;
		}

		&__item-info {
            text-align:left;
            padding: 50px 44px;
		}

		&__item-title {
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 143%;


		}

		&__item-description {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin-top: 12px;
            margin-bottom: 24px;
		}

		&__item-price {
            color: #434B53;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 14px;
		}

		&__btn {
            padding: 20px 40px;
		}
}


.byphoto {
    position: relative;
    background-color: #081130;
    color: #fff;
    z-index: -2;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url(/img/byphoto_phone.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: left bottom;
        z-index: -1;
    }

    

    &__cloud {
        position: relative;
        width: 100vw;
        height: 330px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    &__cloud--up {
        background-image: url(/img/byphoto_cloud-up.png);
    }
    &__inner {
        display: flex;
        justify-content: flex-end;
        @media(max-width: 1024px){
           
        }

    }

    &__info {
        max-width: 490px;
    }

    &__supertitle {
        
    }

    &__title {
        margin-top: 24px;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px; /* 125% */
        letter-spacing: -1px;
                
        @media(max-width: 768px){
            font-size: 16px;
            line-height: 24px;
            max-width: 278px;
        }
    }

    &__description {
        margin-top: 24px;
        margin-bottom: 40px;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%; /* 30.03px */
        letter-spacing: -0.2px;

        @media(max-width:768px){
            font-size: 12px;
            max-width: 350px;
        }
    }

    &__btn {
        padding: 30px 50px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 152%;

        @media(max-width:768px){
            font-size: 12px;
            padding: 15px 25px;
        }
        
    }

    &__cloud--down {
        background-image: url(/img/byphoto_cloud-down.png);
    }
}

.author {
    margin-top: 20px;
    position: relative;


    
    
    
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @media (max-width: 1280px){
        &__inner {
            flex-direction: column-reverse;
            gap: 50px;
            align-items: center;
        }
    }

    &__info {
        max-width: 580px;
    }

    &__supertitle {
    }

    &__title {
        margin-top: 24px;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px; /* 125% */
        letter-spacing: -1px;
    }

    &__list {
        margin-top: 36px;
        list-style-type: circle;
        list-style-position: inside;
        max-width: 440px;
        }

    &__list-item {
        padding-bottom: 30px;
    }

    &__btn {
        margin-top: 20px;
        padding: 30px 50px;
    }

    &__photo {
        width: 100%;
        max-width: 580px;
        
    }
}


.reviews {
    position: relative;
    background-color:#081130;

    &__cloud {
        position: relative;
        width: 100vw;
        height: 330px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
    
    &__cloud--up {
        background-image: url(/img/byphoto_cloud-up.png);
    }

    &__block {
        height: 200px;
    }
}


//
// ;

.container {
    max-width: 1180px;
    margin: 0 auto;
    @media(max-width:1280px){
        margin: 0 20px;
    }
}
.logo {

    &__link {
    }

    &__img {
    }
}
.btn {
    background-color: #FED84C;
    color: #2E363E;
    border-radius: 8px;
    font-family: Montserrat;
    //font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 152%
}


